@model OrdersViewModel
@{
    ViewData["Title"] = "All Events";
}

<h1 class="text-center">All Events</h1>
<hr class="hr-allevents hr-login" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-2">Start</th>
            <th class="col-md-2">End</th>
            <th class="col-md-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 1;
            foreach (var order in Model.Orders)
            {
                <tr class="row">
                    <td class="col-md-1">
                        <div asp-validation-summary="All"></div>
                        @i
                    </td>
                    <td class="col-md-3">
                        <div asp-validation-summary="All"></div>
                        @order.Name
                    </td>
                    <td class="col-md-2">
                        <div asp-validation-summary="All"></div>
                        @order.Start
                    </td>

                    <td class="col-md-2">
                        <div asp-validation-summary="All"></div>
                        @order.End
                    </td>
                    <td class="col-md-4 pt-1">
                        <form asp-controller="Events" asp-action="AllEvents" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label asp-for="@Model.Tickets">Tickets</label>
                            <input asp-for="@Model.Tickets" />
                            <input asp-for="@Model.EventId" value="@order.EventId" hidden />
                            <button type="submit" class="btn eventures-bg-colour mb-2">Order</button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
<hr class="hr-allevents hr-login" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
